<div style="text-align: center;">
    <div style="font-size: 24px;">WakeUp Server Usages: {{totalWakeUpCount}}</div>
    <canvas baseChart
        class="chart"
        style="height: 300px; max-height: 300px;"
        [data]="reportingData"
        [options]="chartOptions"
        [type]="chartType">
    </canvas>
</div>

<kendo-datepicker
    [(value)]="selectedMonth"
    (valueChange)="onSelectedMonthChange($event)"
    bottomView="year"
    topView="decade"
    format="MMMM yyyy">
</kendo-datepicker>