<div style="text-align: center;">
    <div class="title">Usages</div>
    
    <canvas baseChart
        class="chart"
        [data]="reportingData"
        [options]="chartOptions"
        [plugins]="chartPlugins"
        [type]="chartType">
    </canvas>

    <p-calendar 
        [(ngModel)]="selectedMonth"
        [iconDisplay]="'input'"
        [showIcon]="true"
        view="month"
        dateFormat="MM yy"
        [readonlyInput]="true"
        (onSelect)="onSelectedMonthChange(selectedMonth)">
    </p-calendar>
</div>