<div class="reporting">
    <div>
        <div class="title">Usages</div>
        
        <div class="chartcontainer">
            <canvas baseChart
                class="chart"
                [data]="reportingData"
                [options]="chartOptions"
                [plugins]="chartPlugins"
                [type]="chartType">
            </canvas>
        </div>

        <div class="month-input">
            <div class="month-field">
                <input id="monthPicker" type="month" [(ngModel)]="selectedMonth" (ngModelChange)="onSelectedMonthChange($event)"/>
            </div>
        </div>
    </div>
</div>