.reporting {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 24px;
}

.chartcontainer {
    width: 450px;
}

.chart {
    height: 350px; 
    max-height: 350px;
    margin: 30px;
}