<kendo-chart>
    <kendo-chart-legend
        position="bottom" 
        orientation="vertical">
    </kendo-chart-legend>
    <kendo-chart-series>
        <kendo-chart-series-item
            type="donut"
            [data]="reportingItems"
            field="wakeUpCount"
            categoryField="macAddress"
            [labels]="{ visible: true, content: labelContent }">
        </kendo-chart-series-item>
        <ng-template kendoChartDonutCenterTemplate>
            <h3>{{totalWakeUpCount}}</h3>
          </ng-template>
    </kendo-chart-series>
</kendo-chart>
<kendo-datepicker
    [(value)]="selectedMonth"
    (valueChange)="onSelectedMonthChange($event)"
    bottomView="year"
    topView="decade"
    format="MMMM yyyy">
</kendo-datepicker>